<div class="container">
    <center>
            <h5 class="alert alert-success container">Add new team</h5>
            <form id="addNewTeamForm" name="addNewTeamForm">
                <table id="addNewTeamTable" name="addNewTeamTable">
                    <tr>
                        <td>Full Name Of Team</td>
                        <td><input type="text" id="addNewTeamFormName" name="addNewTeamFormName" ng-required="addNewTeamFormName" required> </td>
                    </tr>
                    <tr>
                        <td>Manager</td>
                        <td>
                            <section id="">
                                <option ></option>
                            </section>
                        </td>
                    </tr>
                </table>
            </form>
    </center>
</div>