<center>
    <div id="addNewManagerForm">
        <h5 class="alert alert-success container">Add new manager</h5>
        <form id="addNewManagerForm" name="addNewManagerForm">
            <table id="addNewManagerForm" name="addNewManagerForm">
                <tr>
                    <td>Full Name Of Manager</td>
                    <td><input type="text" class="form-control" id="addNewManagerFullName" name="addNewManagerFullName" ng-model="addNewManager.FullName" required></td>
                </tr>
                <tr>
                    <td>CEC Of Manager</td>
                    <td><input type="text" class="form-control" id="addNewManagerCEC" name="addNewManagerCEC" ng-model="addNewManager.CEC" required></td>
                </tr>
            </table>
        </form>
    </div>
</center>